<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CodeWe{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.less">
    <link rel="icon" type="image/svg+xml" href="/img/SVG/Small.svg">
    <link rel="alternate icon" type="image/png" href="/img/PNG/small.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="codewe.org">
    <meta property="og:url" content="https://codewe.org">
    <meta property="og:title" content="CodeWe">
    <meta property="og:description" content="CodeWe is an open-source live code-sharing website.">
    <meta property="og:image" content="https://codewe.org/img/PNG/Medium.png">
    <meta name="og:image" itemprop="image" content="https://codewe.org/img/PNG/Medium.png">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="main">
        <header id="header">
            {% block header %}{% include 'component/header.html' %}{% endblock %}
        </header>

        <div id="body">
            {% include 'component/welcome.html' %}
            {% include 'component/report-issue.html' %}
            {% block corps %}{% endblock %}
        </div>

        <footer id="footer">
            {% block footer %}{% include 'component/footer.html' %}{% endblock %}
        </footer>
    </div>
</body>
    {% if production %}
        <script type="application/javascript" src="/js/dist/base.min.js"></script>
    {% else %}
        <script type="module" src="/js/dev/page/base.js"></script>
    {% endif %}
    {% block scripts %}{% endblock %}
</html>
