<div>
    <div id="links">
        <a href="/legal/tos">Terms&#8239of&#8239Service</a>
        <a href="/legal/privacy">Privacy&#8239policy</a>
        <a href="/legal/licence">Licence</a>
        <a href="#" id="link-welcome">Welcome&#8239message</a>
        <a href="https://github.com/allEyezOnCode/CodeWe">Github</a>
        <a href="#">Support</a>
        <a href="#report" id="link-report" onclick="l()">Report&#8239issue</a>
    </div>
    Copyright © 2020 Dewilde Alexandre, Dubois Brieuc and Fischer Nicolas
</div>
<script type="application/javascript">
    const l=()=>{document.getElementById('report-issue').style.display="block";document.getElementById('main').classList.add("blur-background");};
</script>
