/imgs                                   export-ignore
"Privacy Policy - CodeWe.docx"          export-ignore
"Terms and Conditions - CodeWe.docx"    export-ignore
/src/publics/img                        export-ignore
/src/views/legal/archive                export-ignore