venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea/

.vscode/
documents.db

# Authenticaion files
*db_config.py

# Databases
codewe.db
/git-mv-with-history.sh

node_modules/
src/config/config.json
