<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeWe</title>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename = 'css/index.less') }}">
</head>
<body>
    <header id="header">
        <h1><span class="title-1">C</span><span class="title-2">ODE</span><span class="title-1">W</span><span class="title-2">E</span></h1>
    </header>
	<section>
        <h1>404, the page doesn't exist</h1>
    </section>
</body>
    <script src="{{ url_for('static', filename = 'js/base.js') }}"></script>
</html>