<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CodeWe{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'img/icon.png') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="main">
        <header id="header">
            {% block header %}{% include 'header.html' %}{% endblock %}
        </header>

        <div id="body">
            {% include 'welcome.html' %}
            {% block corps %}{% endblock %}
        </div>

        <footer id="footer">
            {% block footer %}{% include 'footer.html' %}{% endblock %}
        </footer>
    </div>
</body>
    <script src="{{ url_for('static', filename = 'js/base.js') }}"></script>
    {% block scripts %}{% endblock %}
</html>