<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CodeWe{% endblock %}</title>
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename = 'css/base.less') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename = 'img/SVG/Small.svg') }}">
    <link rel="alternate icon" type="image/png" href="{{ url_for('static', filename = 'img/PNG/Small.png') }}">
    {% block head %}{% endblock %}
</head>
<script src="//cdn.jsdelivr.net/npm/less" ></script>
<body>
    <div id="main">
        <header id="header">
            {% block header %}{% include 'header.html' %}{% endblock %}
        </header>

        <div id="body">
            {% block corps %}{% endblock %}
        </div>

        <footer id="footer">
            {% block footer %}{% include 'footer.html' %}{% endblock %}
        </footer>
    </div>
</body>
    {% block scripts %}{% endblock %}
</html>
