<div id="welcome">
    <div id="welcome-text">
        <h2>Welcome on CodeWe!</h2>
          <p class="welcome-content">
            CodeWe is a free and <a href="https://github.com/allEyezOnCode/CodeWe">open-source</a> project, and
            we are committed to keeping it this way. There also are no advertisements or advertising cookies on the site.
          </p>
          <p class="welcome-content">
            We are students of Louvain University, Belgium, who decided to create this project because we lacked such a tool in our classes.
            As we maintain this project during our free time, we have limited resources and may not be able to keep this project always up-to-date, but do our best to keep a certain quality.
            Should any problem arise, don't hesitate to report it and try again later.
            To keep CodeWe alive, we kindly ask, for the good of all, to avoid unnecessarily overloading it. We, of course, encourage the use of CodeWe whenever it can help you in any way, but do not abuse it.
          </p>
          <p class="welcome-content">
            By clicking Got it!, you agree to our <a href="/tos">Terms</a>. You can learn how we (don't) collect, use and share your data in our <a href="/privacy">Policy Privacy</a>. Keep in mind that we do not require any personal information!
          </p>
          <p class="welcome-content">
            <span class="bold">
              Please be aware that documents not having been viewed for more than 48 hours will be deleted.
            </span>
          </p>
          <p class="welcome-content welcome-enjoy">
            Enjoy CodeWe!
          </p>
        <button onclick="welcome.get_it()">Got it!</button>
    </div>
</div>
