<div id="welcome">
    <div id="welcome-text">
        <h2>Welcome on CodeWe !</h2>
          <p class="welcome-content">
            CodeWe is a free and <a href="https://github.com/allEyezOnCode/CodeWe">open source</a> project, and
            we commit ourselves keeping it that way. That's why no advertising and no advertising cookies are present on the site.
          </p>
          <p class="welcome-content">
            We are students of the UCLouvain University. We decided to create this project because we lacked such a tool during our classes.
            We maintain this project during our free time and do our best to maintain a certain quality, but we have limited resources.
            So, should any problem arise, don't hesitate to try again later and report it. Keeping this objective in mind, we kindly ask,
            for the good of all, to avoid unnecessarily overloading this tool. Of course, we encourage the use of our platform if it can help you in any way, but do not abuse it.
            <br />
            By clicking Got it!, you agree to our <a href="/tos">Terms</a>. Learn how we collect, use and share your data in our <a href="/privacy">Policy Privacy</a>. Do note that we do not collect any personal information!
            <br />
            <span class="bold">
              Please note that a code not having been viewed for more than 48 hours will be automatically deleted.
            </span>
          </p>
          <p class="welcome-content welcome-enjoy">
            Enjoy our tools !
          </p>
        <button onclick="welcome.get_it()">Got it!</button>
    </div>
</div>
