*{
    margin: 0;
    padding: 0;
}

.blur{
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

body{
    background-color: #222222;
    color: white;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(127,255,0, 0.4);
    padding: 10px;
    height: 50px;
    width: 100vw;
}

header h1{
    float: left;
}

header .title-1{
    font-size: 40px;
}

header #update_buttons{
    float: right;
}

header button{
    padding: 0 20px;
    height: 40px;
}

div#welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.5);
    display: none;
}

div#welcome div#welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 350px;
    max-width: 500px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #111111;
    background-color: #d5e6ed;
    margin: 0 auto;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid forestgreen;
    box-shadow: forestgreen 0 0 10px;
}

div#welcome .welcome-content{
    text-align: justify;
    padding: 10px 0;
    letter-spacing: 0.9px;
    line-height: 25px;
}

div#welcome .welcome-enjoy{
    float: left;
}

div#welcome button{
    float: right;
    width: 150px;
    height: 45px;
    background-color: forestgreen;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    color: white;
}

div#welcome button:hover{
    cursor: pointer;
}

section#editor{
    margin-top: 70px;
    padding: 10px;
    counter-reset: thecodenumbering;
}

section#editor div{
    font-family: "Courier New", monospace;
    white-space: pre;
    counter-increment: thecodenumbering;
    width: 100%;
    white-space: pre-wrap;
}
section#editor div:before{
    padding-right:10px;
    content: counter(thecodenumbering);
    display:inline-block;
    width:3em;
    text-align: center;
}

section#editor div:focus{
    background-color: #333333;
}
