{% extends 'component/base.html' %}

{% block title %}CodeWe - Terms of Service{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/legal.less">
{% endblock %}

{% block corps %}
<section>
  <br />
  <h1>Terms of Service</h1>
  <table>
    <tbody>
      <tr>
        <td>
          Last Revision: December 03<sup>th</sup>, 2020
        </td>
        <td class="align-right">
          Valid Starting: December 10<sup>th</sup>, 2020.
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <i>
      <a href="/legal/tos-pdf">
        A downloadable PDF version can be found here.
      </a>
    </i>

    <br><br>
    <strong>Hello!</strong> We are happy to see You here at CodeWe!
    <br>
    Read these Terms and Conditions and Privacy Policy carefully before accessing the Service.
    <br>
    CodeWe is a Service that allows You to share and collaborate on programs and scripts. These are the Terms and Conditions that regulate and govern Your use of Our Service. They also inform You about the sharing Service. When You access our Website
    or Service, You fully agree to these terms.
    <br>
    We don’t charge You to use CodeWe. Because We don’t like advertisements so We don’t advertise (besides, You are probably using an adblocker anyway 😉). We, therefore, have no reason to collect personal data and even less to sell or share any data
    or information that MAY directly identify You (these are things like Your name, (email) address and other).
    <br>
    Your access to and use of the Service is conditioned by the acceptance of these Terms. These Terms and Conditions apply to all and any visitor, user and others who access or use the Service.
    <br>
    Our Privacy Policy explains how We (don’t) collect and use Your personal information to provide Our Service. These Privacy Policies should be read alongside these Terms.
  </p>
  <h2>Interpretation and Definitions</h2>
  <p>
    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only
    when, they appear in all capitals, as shown here.
    <br>
    Words of which the first letter is capitalized, such as “<i>Terms</i>”, have meanings that are defined in the section here-under. The definitions apply whatever derivative form they take.
    <br>
    For the purpose and in context of these Terms and Conditions,
  <ul>
    <li><i>Country</i> refers to Belgium.</li>
    <li><i>Owners</i> (also referred to as “<i>the Owners</i>”, “<i>We</i>”, “<i>Us</i>” or “<i>Our</i>”) refers to us, the creators and maintainers of this project as described in the Owners section.</li>
    <li><i>Device</i> means any item, object or device able to access or contact the Service. Examples include, but are not limited to, computers, smartphones, phones or a digital tablet.</li>
    <li><i>Privacy Policy</i> (or simply “<i>Policy</i>”) refers to the document governing the collection, use and disclosure of information We collect. More information is to be found in the Other terms, policies and definitions that MAY apply to
      You section.</li>
    <li><i>Service</i> (also referred to as “<i>CodeWe</i>”, “<i>the Project</i>” or “<i>Project</i>”) refers to the Website.</li>
    <li><i>Terms of Service</i> (also referred to as “<i>Terms</i>” or “<i>Terms and Conditions</i>”) mean these Terms and Conditions forming the entire agreement between You and Us regarding the use of this Service.</li>
    <li><i>Third-Party</i> mean any entity that is not You or We.</li>
    <li>
      <i>Website</i> refers to CodeWe, the internet page accessible from <a href="https://codewe.org">https://codeweorg</a>, the IP address version 4 or version 6 by secure or insecure connections displaying the CodeWe logo and design.
    </li>
    <li>
      <i>You</i> mean the individual accessing the Service, or any other legal entity acting on behalf of which is accessing the Service.
    </li>
  </ul>
  </p>
  <h2>Owners</h2>
  <p>
    The Owners of this Project or Service are the people regularly updating, maintaining and supervising the evolution of the Project, in other words:
  <ul>
    <li>Alexandre DEWILDE;</li>
    <li>Brieuc DUBOIS;</li>
    <li>Theo TECHNICGUY.</li>
  </ul>
  <br>We are also the copyright owners for this Service.</p>
  <p>We would like to thank every person having contributed to this Project.</p>

  <h2>The Service We provide</h2>
  <p>We provide and make available to You to the best of Our abilities a Service that allows You to share, distribute and collaborate on programs, scripts and more.</p>

  <h2>Your duties and commitments to Us.</h2>
  We provide You and other with this Service, We, in turn, ask You to meet and make the following expectations and commitments:
  <h3>Who can use CodeWe?</h3>
  <p>
    We try to make this Service as broadly available to any and everyone who wishes to use it, but We don’t allow You to use Our Service SHOULD:
  <ul>
    <li>
      You be under the legal age of 18 and not have consent from Your parents or guardians;
    </li>
    <li>
      We have revoked or disabled Your access to CodeWe following a breach of Our Terms or Policies;
    </li>
    <li>
      You are prohibited or not allowed to receive or access CodeWe under applicable laws.
    </li>
  </ul>
  </p>
  <h3>What can You share and do on CodeWe?</h3>
  <p>
    We wish that people can use CodeWe to share and collaborate on algorithms and code freely but under no circumstance at the expense of the safety of You and others. You, therefore, agree not to engage in the behaviour or conduct described below
    (or to facilitate or support others in doing so):
  <ul>
    <li>
      You MUST NOT use CodeWe to do or share anything…
      <ul>
        <li>… that breaches these Terms or Policies;</li>
        <li>… that is unlawful, discriminatory or fraudulent;</li>
        <li>
          … that infringes or breaches someone else’s rights, including intellectual property rights.
        </li>
      </ul>
    </li>
    <li>
      You also MUST NOT use CodeWe to create or share viruses, malware, spyware, malicious code or scripts, or do anything that could disable, overburden, or impair the proper and correct working or appearance of CodeWe.
    </li>
    <li>
      You MUST NOT access or collect data from CodeWe using automated means (without Our prior permission) or attempt to access data that You do not have permission to access.
    </li>
  </ul>
  <br>
  We reserve Ourselves the right to remove, delete or block content that breaches these Terms without prior notice to anyone.
  <br>
  If We remove, delete or block content that You have made available or shared for violating these Terms, We MAY try to notify You in a reasonable delay by mean easily accessible to Us.
  <br>
  We also can remove or restrict access to Your content or information if We determine that doing so is reasonably necessary to avoid or mitigate adverse legal or regulatory disputes or impacts on/to Us.
  </p>
  <h3>Permission You give Us.</h3>
  <p>
    To correctly and efficiently provide You with Our Service, We need permission Your permission to store or save content You create and share
    <br>
    The content You create and share is saved temporarily in our database. Some content that You create and make available to others MAY be protected by intellectual property rights.
    <br>
    You (or the owner) own(s) the intellectual property rights (e.g.: copyright or trademarks) in any such content that You create or share on CodeWe. Nothing in these Terms takes away these rights You have to Your content. You are free to share or
    not Your content with anyone else, whenever You want.
    <br>
    However, to be able to provide Our Service, You MUST give Us legal permissions (“license”) to store or save this content. This is solely for the purpose to provide Our Service (as described above).
    <br>
    Specifically, when You create, share or make available content that is covered by intellectual property rights, on CodeWe, You grant Us a non-exclusive, transferable, sub-licensable, royalty-free, and worldwide licence or authorisation to host,
    save, store, distribute, modify, run, copy, duplicate, publicly display and create derivative works of Your content.
    <br>
    <i>
      Example: You share a script on CodeWe. You give Us permission to store, save, copy and share it with others. This is the intent after all, isn’t it?
    </i>
    <br>
    Content stored for longer than 48 hours after last activity or view will automatically be removed. You can download the content You created or shared anytime by using the “Download” button.
    <br>
    When content is deleted, it’s no longer accessible to other users, however, it MAY continue to exist elsewhere on CodeWe where:
  <ul>
    <li>
      Immediate deletion is not possible due to technical limitations, in which case Your content will be deleted within a maximum of 10 working days from the day it was marked for deletion;
    </li>
    <li>
      Immediate deletion, or deletion in general, would restrict Our ability to…
      <ul>
        <li>
          … investigate or identify illegal activity or violations of Our Terms and/or Policies;
        </li>
        <li>
          … comply with legal obligations, such as preservation of evidence;
        </li>
        <li>
          … comply with a request from a judicial or administrative authority, law enforcement or government agency.
        </li>
      </ul>
    </li>
  </ul>
  in which cases the content will be retained for longer than necessary for the purpose of which it has been retained. This extra duration MAY vary case-by-case.
  <br>
  If the content is retained for longer; this license will prevail and continue to be valid until the content has been fully deleted.
  </p>

  <h2>Limits on using Our intellectual property.</h2>
  <p>
    This project is licensed under the MIT License available <a href="https://github.com/allEyezOnCode/CodeWe/blob/master/LICENCE.md">here</a>. You are free to obtain a copy of this project. If You obtain a copy of this Project, these Terms and
    Condition, as well as the Privacy Policy, no longer apply and We cannot be held responsible for any actions when using this copy.
  </p>

  <h2>Updating these Terms or Policies</h2>
  <p>
    We constantly work on improving CodeWe and develop new features to make Our Service better for You and others. We thus MAY need to update and maintain these Terms now and then to accurately reflect Our services and practices. We will only make
    any changes if We feel the Terms are no longer appropriate or incomplete.
    <br>
    We will attempt to notify You of such changes a reasonable time before the changes take effect to allow You to review the changes to these Terms unless changes are required by an external force. Once the Terms have been updated, You will be bound
    by them if You continue using CodeWe. You MUST, however, periodically check these Terms by Yourself.
    <br>
    We still hope that You will continue using CodeWe, but should You no longer agree to these Terms, You MUST terminate Your connection to Us as described in the Termination section here below.
  </p>

  <h2>Suspenstion or Termination</h2>
  <p>
    We want CodeWe to be a place to safely share and collaborate.
    <br>
    If We determine that You clearly, seriously or repeatedly breached Our Terms and Privacy Policy, We MAY suspend or permanently disable Your access to CodeWe without prior notice. We MAY also suspend or disable Your access to CodeWe if You
    repeatedly infringe or disregard other people’s intellectual rights or where We are REQUIRED by legal reasons, here too, without prior notice.
    <br>
    Once You have been subject to suspension or termination, You MUST delete any and all data linking or connecting You to Us in any way. You MUST comply with Our decision and MUST NOT attempt to circumvent or find another way to use CodeWe.
    <br>
    If You think We have terminated Your access wrongfully, contact Us using the information in the Contact section.
    <br>
    If You wish to terminate this agreement, You MUST immediately stop using CodeWe and delete any and all data linking or connecting You to Us in any way. Once this agreement terminated, You will have to consent again before using CodeWe.
    <br>
    Please note that the following sections will prevail and continue to be valid after termination:
  <ul>
    <li>Suspension or Termination;</li>
    <li>Permissions You give Us;</li>
    <li>Limits of liability;</li>
    <li>“AS IS” and “AS AVAILABLE” Disclaimer;</li>
    <li>Disputes;</li>
    <li>Other.</li>
  </ul>
  </p>

  <h2>Limits on liability</h2>
  <p>
    We MUST NOT be held liable for any special, incidental, indirect, or consequential damages whatsoever. This includes, but is not limited to, damages for loss of profits, loss of data or other information, for business interruption, for personal
    injury, loss of privacy arising out of or in any way related to the use of or inability to use the Service, Third-Party software and/or Third-Party hardware used with CodeWe, or otherwise in connection with any provision of these Terms. This,
    even if We have been advised of the possibility that such damages MAY occur and even if the remedy fails of its essential purpose.
    <br>
    Knowing that some states do not allow the exclusion of implied warranties or limitation of liability for incidental or consequential damages, some of the above limitations MAY not apply. In these states, each party's liability will be limited to
    the greatest extent permitted by law.
  </p>

  <h2>“<i>AS IS</i>” and “<i>AS AVAILABLE</i>” Disclaimer</h2>
  <p>
    CodeWe, not only being in active development but also in estimated alpha (not ready for public release) stage and generally, is provided to You “AS IS” and “AS AVAILABLE”, with all its faults, defects and bugs, without warranty of any kind. To
    the maximum extent permitted under applicable law, We expressly disclaim all warranties, whether express, implied, statutory or otherwise. Respecting the Service, this includes all implied warranties of merchantability, fitness for a particular
    purpose, title and non-infringement. Warranties that MAY arise out of course of dealing, performance usage or trade practice are also included.
    <br>
    Without limiting the foregoing, We provide no warranty or undertaking and make no representation of any kind that CodeWe will meet Your requirements, achieve any intended or implied results, be compatible or work with any other software,
    application, system or service. We do not warrant that CodeWe will be running without any interruptions meet any performance or reliability standard or be error-free. We also give no warranty that any errors or defects will be corrected.
    <br>
    Without limiting the foregoing, We don’t make any representation or warranty of any kind, be it express or implied:
  <ul>
    <li>
      as to the operation or availability of CodeWe, or the information, content, and materials or products included thereon;
    </li>
    <li>
      that CodeWe will be uninterrupted or error-free;
    </li>
    <li>
      as to the accuracy, reliability, or currency of any information or content provided through CodeWe or
    </li>
    <li>
      that CodeWe, its servers, the content, or e-mails sent from or on behalf of Us are free of viruses, scripts, trojan horses, worms, malware, timebombs or other harmful components.
    </li>
  </ul>
  <br>
  As some jurisdictions do not allow the exclusion of certain types of warranties or limitations on applicable statutory rights of a consumer, some or all of the above exclusions and limitation MAY not apply to You. In such case, You MUST immediately
  terminate this agreement.
  </p>

  <h2>Disputes</h2>
  <p>
    In an attempt to limit or avoid disputes between You and Us, We try to provide clear regulations and guidelines. However, if a dispute does arise, You agree to first and foremost attempt to resolve it with Us without involving the public before
    resolving it in any legal court. You also agree that the laws of Belgium govern these Terms and Privacy Policies including any conflicts of law provisions.
    <br>
    There MAY exist translations of these Terms. In case of any dispute, You agree that the English version will be valid and considered.
  </p>

  <h2>Other</h2>
  <p>
    These Terms make up the entire agreement between You and Us, Owners of this Project.
    <br>
    If any part of these Terms is found to be unenforceable, the remaining portion MUST be considered having full force or effect. If We fail to enforce any of these Terms, it MUST NOT be considered a waiver. Any amendment to or waiver of these Terms
    MUST be made in writing and signed by Us.
    <br>
    You MUST NOT transfer or delegate any of Your rights or obligations under these Terms to anyone else without Our explicit consent.
    <br>
    We always appreciate Your feedback, suggestions about and issue findings on CodeWe. You agree that We MAY use them without any restriction or obligation to compensate You and We are under no obligation to keep them confidential.
    <br>
    These Terms only cover the Project instance hosted, managed, created, developed and maintained by Us. If You fork, copy, modify or alter a separate version of this Project, these Terms MUST NOT apply to You.
  </p>

  <h2>Other terms, policies and definitions that MAY apply to You</h2>
  <h3>RFC 2119</h3>
  <p>
    In this document, the key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" are to be interpreted as described in RFC 2119. An arranged copy can be found in the Annex section.
  </p>
  <h3>Privacy Policy</h3>
  <p>
    The <a href="/privacy">Policy Privacy</a> describes how We collect and use Your personal information to provide CodeWe. They are a fully integrated part of these Terms.
  </p>
  <h3>Hosting Service</h3>
  <p>
    The Service is hosted and made available through a virtual private server hosted by Groupe PulseHerge. By using Our Service, You also accept their terms and condition available at <a
      href="https://www.pulseheberg.com/legal">https://www.pulseheberg.com/legal</a>.
  </p>
  <h3>Links to other websites</h3>
  <p>
    Our Service MAY contain hyperlinks, links or references to Third Party websites that are not owned or controlled by Us.
    <br>
    We have no control over and assume no responsibility for, the content, privacy policies or practices of any Third-Party web site or service. You further acknowledge and agree that We shall not be held responsible or liable, it being directly or
    indirectly, for any damage, loss or modification alleged to be caused by, in or during a connection with the use of or reliance on any such content, goods or services available on or through any such web site, web page or service.
    <br>
    We strongly advise You to carefully read the terms of service and privacy policies of any Third-Party web site, web page or services that You visit.
  </p>
  <h2>Contact</h2>
  <p>If You have any request or require additional clarification, do not hesitate to contact Us!
    <br>
    Email: <a href="mailto:terms-codewe@bhasher.com">terms-codewe@bhasher.com</a>
  </p>
</section>
<section>
  <h2>Annexe 1: Arranged copy of RFC 2119</h2>
  <p>
    The original was found at <a href="https://tools.ietf.org/html/rfc2119">https://tools.ietf.org/html/rfc2119</a> on November 9<sup>th</sup>, 2020
  </p>
  <table>
    <tbody>
      <tr>
        <td>
          Updated by: 8174<br />
          <br />
          Network Working Group<br />
          Request for Comments: 2119<br />
          BCP: 14<br />
          Category: Best Current Practice<br />
        </td>
        <td class="align-right">
          BEST CURRENT PRACTICE<br />
          Errata Exist<br />
          S. Bradner<br />
          Harvard University<br />
          March 1997<br />
        </td>
      </tr>
    </tbody>
  </table>
  <h1>Key words for use in RFCs to Indicate Requirement Levels</h1>
  <h2>Status of this Memo</h2>
  <p>
    This document specifies an Internet Best Current Practices for the Internet Community, and requests discussion and suggestions for improvements. Distribution of this memo is unlimited.
  </p>
  <h2>Abstract</h2>
  <p>
    In many standards track documents several words are used to signify the requirements in the specification. These words are often capitalized. This document defines these words as they should be interpreted in IETF documents. Authors who follow
    these guidelines should incorporate this phrase near the beginning of their document:
    <br>
    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in RFC 2119.
    <br>
    Note that the force of these words is modified by the requirement level of the document in which they are used.
  </p>
  <h2>MUST</h2>
  <p>
    This word, or the terms "REQUIRED" or "SHALL", mean that the definition is an absolute requirement of the specification.
  </p>
  <h2>MUST NOT</h2>
  <p>
    This phrase, or the phrase "SHALL NOT", mean that the definition is an absolute prohibition of the specification.
  </p>
  <h2>SHOULD</h2>
  <p>
    This word, or the adjective "RECOMMENDED", mean that there may exist valid reasons in particular circumstances to ignore a particular item, but the full implications must be understood and carefully weighed before choosing a different course.
  </p>
  <h2>SHOULD NOT</h2>
  <p>
    This phrase, or the phrase "NOT RECOMMENDED" mean that there may exist valid reasons in particular circumstances when the particular behavior is acceptable or even useful, but the full implications should be understood and the case carefully
    weighed before implementing any behavior described with this label.
  </p>
  <h2>MAY</h2>
  <p>
    This word, or the adjective "OPTIONAL", mean that an item is truly optional. One vendor may choose to include the item because a particular marketplace requires it or because the vendor feels that it enhances the product while another vendor may
    omit the same item. An implementation which does not include a particular option MUST be prepared to interoperate with another implementation which does include the option, though perhaps with reduced functionality. In the same vein an
    implementation which does include a particular option MUST be prepared to interoperate with another implementation which does not include the option (except, of course, for the feature the option provides.)
  </p>
  <h2>Guidance in the use of these Imperatives</h2>
  <p>
    Imperatives of the type defined in this memo must be used with care and sparingly. In particular, they MUST only be used where it is actually required for interoperation or to limit behavior which has potential for causing harm (e.g., limiting
    retransmisssions). For example, they must not be used to try to impose a particular method on implementors where the method is not required for interoperability.
  </p>
  <h2>Security Considerations</h2>
  <p>
    These terms are frequently used to specify behavior with security implications. The effects on security of not implementing a MUST or SHOULD, or doing something the specification says MUST NOT or SHOULD NOT be done may be very subtle. Document
    authors should take the time to elaborate the security implications of not following recommendations or requirements as most implementors will not have had the benefit of the experience and discussion that produced the specification.
  </p>
  <h2>Acknowledgments</h2>
  <p>
    The definitions of these terms are an amalgam of definitions taken from a number of RFCs. In addition, suggestions have been incorporated from a number of people including Robert Ullmann, Thomas Narten, Neal McBurnett, and Robert Elz.
  </p>
  <h2>Author's Address</h2>
  <p>
    Scott Bradner<br>
    Harvard University<br>
    1350 Mass. Ave.<br>
    Cambridge, MA 02138<br><br>
    Phone - +1 617 495 3864<br>
    Email - sob@harvard.edu
  </p>

  <h2>Annexe 2: Arranged copy of RFC 8174</h2>
  <table>
    <tbody>
      <tr>
        <td>
          <br><br>
          Internet Engineering Task Force (IETF)<br>
          Request for Comments: 8174<br>
          BCP: 14<br>
          Updates: 2119<br>
          Category: Best Current Practice<br>
          ISSN: 2070-1721<br>
        </td>
        <td class="align-right">
          BEST CURRENT PRACTICE<br>
          Errata Exist<br>
          B. Leiba<br>
          Huawei Technologies<br>
          May 2017<br>
        </td>
      </tr>
    </tbody>
  </table>
  <h1>Ambiguity of Uppercase vs Lowercase in RFC 2119 Key Words</h1>
  <h2>Abstract</h2>
  <p>
    RFC 2119 specifies common key words that may be used in protocol specifications. This document aims to reduce the ambiguity by clarifying that only UPPERCASE usage of the keywords have the defined special meanings.
  </p>
  <h2>Status of This Memo</h2>
  <p>
    This memo documents an Internet Best Current Practice.<br>

    This document is a product of the Internet Engineering Task Force (IETF). It represents the consensus of the IETF community. It has received public review and has been approved for publication by the Internet Engineering Steering Group (IESG).
    Further information on BCPs is available in Section 2 of RFC 7841.<br>

    Information about the current status of this document, any errata, and how to provide feedback on it may be obtained at http://www.rfc-editor.org/info/rfc8174.
  </p>
  <h2>Copyright Notice</h2>
  <p>
    Copyright (c) 2017 IETF Trust and the persons identified as the document authors. All rights reserved.<br>

    This document is subject to BCP 78 and the IETF Trust's Legal Provisions Relating to IETF Documents (http://trustee.ietf.org/license-info) in effect on the date of publication of this document. Please review these documents carefully, as they
    describe your rights and restrictions with respect to this document. Code Components extracted from this document must include Simplified BSD License text as described in Section 4.e of the Trust Legal Provisions and are provided without warranty
    as described in the Simplified BSD License.
  </p>
  <h2>Introduction</h2>
  <p>
    RFC 2119 specifies common key words, such as "MUST", "SHOULD", and "MAY", that may be used in protocol specifications. It says that the key words "are often capitalized," which has caused confusion about how to interpret non-capitalized words
    such as "must" and "should".
    <br>
    This document updates RFC 2119 by clarifying that only UPPERCASE usage of the key words have the defined special meanings. This document is part of BCP 14.
  </p>
  <h2>Clarifying Capitalization of Key Words</h2>
  <p>
    The following change is made to [RFC2119]:
    <br>
    === OLD ===
    <br>
    In many standards track documents several words are used to signify the requirements in the specification. These words are often capitalized. This document defines these words as they should be interpreted in IETF documents. Authors who follow
    these guidelines should incorporate this phrase near the beginning of their document:
    <br>
    The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in RFC 2119.
    <br>
    === NEW ===
    <br>
    In many IETF documents, several words, when they are in all capitals as shown below, are used to signify the requirements in the specification. These capitalized words can bring significant clarity and consistency to documents because their
    meanings are well defined. This document defines how those words are interpreted in IETF documents when the words are in all capitals.
  <ul>
    <li>
      These words can be used as defined here, but using them is not required. Specifically, normative text does not require the use of these key words. They are used for clarity and consistency when that is what's wanted, but a lot of normative text
      does not use them and is still normative.
    </li>
    <li>
      The words have the meanings specified herein only when they are in all capitals.
    </li>
    <li>
      When these words are not capitalized, they have their normal English meanings and are not affected by this document.
    </li>
  </ul>
  Authors who follow these guidelines should incorporate this phrase near the beginning of their document:
  <br>
  The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "NOT RECOMMENDED", "MAY", and "OPTIONAL" in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only
  when, they appear in all capitals, as shown here.
  <br>
  === END ===
  </p>
  <h2>IANA Considerations</h2>
  <p>
    This document does not require any IANA actions.
  </p>
  <h2>Security Considerations</h2>
  <p>
    This document is purely procedural; there are no related security considerations.
  </p>
  <h2>Normative References</h2>
  <p>
    [RFC2119] Bradner, S., "Key words for use in RFCs to Indicate Requirement Levels", BCP 14, RFC 2119, DOI 10.17487/RFC2119, March 1997, <a href="http://www.rfc-editor.org/info/rfc2119">http://www.rfc-editor.org/info/rfc2119</a>.
  </p>
  <h2>Author's Address</h2>
  <p>
    Barry Leiba<br>
    Huawei Technologies<br>
    Phone: +1 646 827 0648<br>
    Email: barryleiba@computer.org<br>
    URI: <a href="http://internetmessagingtechnology.org/">http://internetmessagingtechnology.org/</a><br>
  </p>

  <h2>Annexe 3: Simplified BSD License</h2>
  <p>
    Copyright (c) < year>, < copyright holder>
        <br>
        Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
        <ol>
          <li>
            Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
          </li>
          <li>
            Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
          </li>
        </ol>
        <br>
        THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
        IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
        OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
        POSSIBILITY OF SUCH DAMAGE.
  </p>
</section>
<br />
<section>
  <div class="revision">
    <h2>Revision History</h2>
    <table>
      <tbody>
        <tr>
          <td>
            <a href="/legal/tos/archive/20201115">
              Terms of Service from November 6<sup>th</sup>, 2020 to November 15<sup>th</sup>, 2020
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/legal/tos/archive/20201117">
              Terms of Service from November 15<sup>th</sup>, 2020 to November 20<sup>th</sup>, 2020
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/legal/tos/archive/20201122">
              Terms of Service from November 20<sup>th</sup>, 2020 to November 30<sup>th</sup>, 2020
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/legal/tos/archive/20201203">
              Terms of Service from November 30<sup>th</sup>, 2020 to December 03<sup>rd</sup>, 2020
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
