<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CodeWe{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/base.min.css">
    <link rel="icon" type="image/svg+xml" href="/img/SVG/Small.svg">
    <link rel="alternate icon" type="image/png" href="/img/PNG/small.png">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="main">
        <header id="header">
            {% block header %}{% include 'header.html' %}{% endblock %}
        </header>

        <div id="body">
            {% include 'welcome.html' %}
            {% block corps %}{% endblock %}
        </div>

        <footer id="footer">
            {% block footer %}{% include 'footer.html' %}{% endblock %}
        </footer>
    </div>
</body>
    {% block scripts %}{% endblock %}
</html>
