{% extends 'base.html' %}

{% block title %}CodeWe - {{ document['document_id'] }}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/editor.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/rainbow.min.css') }}">
{% endblock %}

{% block header %}
    <h1><span class="title-1">C</span><span class="title-2">ODE</span><span class="title-1">W</span><span class="title-2">E</span> - {{ document['document_id'] }}</h1>
    <div id="actions">
        <a id="download" target="iframe" download="{{ document['document_id'] }}.py" href="#">Download</a>
    </div>
{% endblock %}

{% block corps %}
    <section id="editor" contenteditable="true" spellcheck="false">
        {% for line in document['content'] %}
            <div uuid="{{ line['uuid'] }}">{{ line['content'] }}<br></div>
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script>
      let doc_id = "{{ document['document_id'] }}" ;
    </script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="application/javascript" src="{{ url_for('static', filename = 'js/editor.min.js') }}"></script>
{% endblock %}
