{% extends 'base.html' %}

{% block title %}CodeWe - {{ document['doc_id'] }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/editor.css') }}">
{% endblock %}

{% block header %}
    <h1><span class="title-1">C</span><span class="title-2">ODE</span><span class="title-1">W</span><span class="title-2">E</span> - {{ document['document_id'] }}</h1>
    <div id="auto_update">
        <div class="swipes">
            <div><input id="auto_pull" type="checkbox" checked /></div>
            <div><label for="auto_pull">Auto-pull</label></div>
        </div>
        <div class="swipes">
            <div><input id="auto_push" type="checkbox" checked /></div>
            <div><label for="auto_push">Auto-push</label></div>
        </div>
    </div>
{% endblock %}

{% block corps %}
    <section id="editor" contenteditable="true" spellcheck="false">
        {% for line in document['content'].split('\n') %}
            <div>{{ line }}<br></div>
        {% endfor %}
    </section>
{% endblock %}

{% block scripts %}
    <script>
      let doc_id = "{{ document['document_id'] }}" ;
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename = 'js/editor.js') }}"></script>
{% endblock %}