{% extends 'base.html' %}

{% block title %}CodeWe{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block corps %}
<div id="section">
    <form action="/create_document" method="post">
        <button type="submit" id="new_document_button">Create Document</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
{% endblock %}