{% extends 'base.html' %}

{% block title %}CodeWe{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index.min.css') }}">
{% endblock %}

{% block corps %}
<div id="section">
  <form action="/create_document" method="post">
    <button type="submit" id="new_document_button">Create Document</button>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename = 'js/base.js') }}"></script>
{% endblock %}
