{% extends 'component/base.html' %}

{% block title %}CodeWe{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/css/index.less">
{% endblock %}

{% block corps %}
<div id="section">
  <h1>CodeWe is an open-source live code-sharing website</h1>
  <h3>By developers, for developers.</h3>
  <form action="/create_document" method="post">
    <button type="submit" id="new_document_button">Create a new document</button>
    <p>Do it for free.</p>
  </form>
</div>
{% endblock %}
