{% extends 'component/base.html' %}

{% block title %}CodeWe{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/css/legal.less">
{% endblock %}

{% block corps %}
<section>
  <h1>Privacy Policy</h1>
  <table>
    <tbody>
      <tr>
        <td>
          Last Revision: November 22<sup>th</sup>, 2020
        </td>
        <td class="align-right">
          Valid Starting: November 30<sup>th</sup>, 2020.
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    <i>
      <a href="/legal/privacy-pdf">
        A downloadable PDF version can be found here.
      </a>
    </i>

    <br /><br />
    This Policy describes the information We process to support CodeWe.
    <br />
    These Policies is an entire part of the Terms, thus:
  <ul>
    <li>
      All definitions from the Terms apply here.
    </li>
    <li>
      If You disagree with any part of these Policies, You disagree with the Terms and MUST immediately terminate Your connections to Us by referring to the Suspension and Termination section.
    </li>
  </ul>
  </p>

  <h2>Summary</h2>
  <p>
    This summary section is a “tl;dr” (too long; didn’t read) of these Policies. They represent a summary of what We think is important. This section SHALL NOT be representative or valid in any dispute.
    <br />
    We don’t collect any directly personal information. Ever. We never ask You to give Us Your name or (email) address.
    <br />
    We do however collect and save the content You create and share on CodeWe. This content is usually deleted within 3 days.
    <br />
    We use a standard method of logging actions and connection saved in files called Logs. These Logs MAY include the IP address Your Internet Service Provider assigned to You. These Logs are usually kept for a period of 90 days or so.
  </p>

  <h2>What kinds of data do We collect?</h2>
  <p>
    To be able to provide You with CodeWe, We have to process information about You.
  </p>
  <h3>Things You and others do and provide.</h3>
  <p>
    Information and content You provide. We collect the content and other information You provide when using CodeWe, including when You create or share content. This can include information in or about the content You provide. Our systems
    automatically process the content and communications You and others provide to analyse the context and what’s in them for the purposes described below.
  </p>
  <h3>Device and/or internet browser information</h3>
  <p>
    We MAY receive information about what internet browser/internet explorer You use as well as it’s version. We do not, however, use, process or store this information in normal situations.
  </p>
  <h3>Bug reports</h3>
  <p>
    If You decide to report an error that occurred on CodeWe (thank You already!) We receive and store the message You wrote and some anonymous browser-related data, like which browser You used, it’s version and extension used. We also receive the
    last communications between Your Device and CodeWe as well as timings.
  </p>
  <h3>Internet browser cookies and similar techonologies.</h3>
  <p>
    We only use necessary cookies to minimize the <i>welcome</i> notification. Having accepted these Terms and Policies once, You SHALL accept them until termination.
  </p>

  <h2>How do We use this information?</h2>
  <p>
    We use the information We have as described here below and to provide and support CodeWe.
  <ul>
    <li>
      Provide and support CodeWe.
    </li>
    <li>
      We use the information We have to deliver CodeWe.
    </li>
  </ul>
  <i>Example: We analyse the content You create and share to provide syntax highlighting.</i>
  </p>

  <h2>Promote safety integrity and security.</h2>
  <p>
    We use the information We have to combat harmful conduct, detect and prevent spam and other bad experiences, maintain the integrity of CodeWe, and promote safety and security.
    <br />
    <i>Example: We use the information We have to investigate suspicious activity or violations of Our Terms or Policies.</i>
  </p>

  <h2>How is this information shared?</h2>
  <p>
    Your information is shared with others in the following ways:
    <br />
    <b>Sharing on CodeWe.</b>
  <h3>People You share and communicate with.</h3>
  When You share and communicate using CodeWe, Your content stays private to the extent that the link generated is not shared with any unauthorized Third-Party. If the link is published, the content is as well. We cannot be held responsible for any
  breaches.
  <br />
  <b>Sharing with Third-Parties</b>
  Although exceptions apply, We do not share personal information about You. Never. Exceptions include, but are not limited to, legal enquiries or requests from law enforcement.
  We do however share all content You make available on this Website according to the above.
  </p>

  <h2>What is Our legal basis for processing data?</h2>
  <p>
    We collect, use and share the data We have in the ways described above:
  <ul>
    <li>
      As necessary to fulfil Our Terms of Service.
    </li>
    <li>
      As necessary to comply with Our legal obligations.
    </li>
  </ul>
  </p>

  <h2>How can You exercise Your rights provided under GRPD?</h2>
  <p>
    Under the General Data Protection Regulation, You have the right to access, rectify, port and erase Your data. You also have the right to object to and restrict certain processing of Your data. To exercise any of these rights, feel free to
    contact Us.
  </p>

  <h2>Data retention</h2>
  <p>
    We store data until it is no longer necessary to provide CodeWe. Content You provide is generally deleted after 48 hours but can be extended to 7 days.
    <br />
    We use a standard method of logging actions and connection saved in files called Logs. These Logs MAY include the IP address Your Internet Service Provider assigned to You. These Logs are usually kept for a period of 90 days or so.
  </p>

  <h2>How do We respond to legal requests or prevent harm?</h2>
  <p>
    We access, preserve or share Your information with regulators, law enforcement or others.
  <ul>
    <li>
      In response to a legal request, if We have good faith that the law requires Us to do so.
    </li>
    <li>
      When We have good faith belief that it is necessary to detect, prevent and address fraud, unauthorized use of CodeWe, violations of Our Terms of Policies, or other harmful or illegal activity. To protect Ourselves, this including Our rights,
      property or CodeWe, You or others, including as part of legal investigations or regulatory inquiries.
    </li>
  </ul>
  Information We receive about You can be accessed and preserved for an extended period when it is the subject of a legal request or obligation, governmental investigation, or investigations of possible violations of our terms or policies, or
  otherwise to prevent harm. We also retain information from connections disabled for violating these Terms for at least a year to prevent repeat abuse or other violations.
  </p>

  <h2>How will We notify You of changes to this Policy?</h2>
  <p>
    To the best of Our abilities, We will attempt to notify You changes a reasonable time before the changes take effect to allow You to review the changes unless changes are required by an external force.
  </p>

  <h2>How to Contact Us with questions?</h2>
  <p>
    If You have questions about this Policy, You can contact Us as described below.
    <br />
    Email: <a href="mailto:privacy@codewe.bhasher.com">privacy@codewe.bhasher.com</a>
  </p>
</section>
<br />
<section>
  <div class="revision">
    <h2>Revision History</h2>
    <table>
      <tbody>
        <tr>
          <td>
            <a href="/legal/privacy/archive/20201117">
              Privacy Policy from November 06<sup>th</sup>, 2020 to November 20<sup>th</sup>, 2020
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/legal/privacy/archive/20201120">
              Privacy Policy from November 20<sup>th</sup>, 2020 to November 23<sup>th</sup>, 2020
            </a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="/legal/privacy/archive/20201122">
              Privacy Policy from November 23<sup>th</sup>, 2020 to November 30<sup>th</sup>, 2020
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
