header #actions{
    float: right;
    padding: 5px 20px;
}

header #download{
    display: inline-block;
    background-color: #333333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

section#editor{
    counter-reset: thecodenumbering;
    line-height: 22px;
}

section#editor div{
    font-family: "Courier New", monospace;
    counter-increment: thecodenumbering;
    width: 100%;
    white-space: pre-wrap;
}
section#editor div:before{
    padding-right:10px;
    content: counter(thecodenumbering);
    display:inline-block;
    width:3em;
    text-align: center;
}

section#colorful{
    font-weight: normal !important;
}

.cursor-line {
    opacity: 0.8;
}
