section{
  width: 50%;
  min-width: 700px;
  margin: auto;
  color: rgb(193, 187, 177);
  line-height: 1.7;
  word-wrap: break-word;
  text-align: justify;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;

  h1{
    font-size: 2.125rem;
    margin-top: 25px;
    line-height: 1.4;
  }

  p{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  a{
    color: inherit;
    text-decoration: none;
    transition: color ease-in-out 0.2s;
  }

  a:hover{
    color: #ddd;
  }

  ul{
    margin-left: 20px;
  }
}


table {
  width: 100%
}

td.align-right {
  text-align: right;
}

#not-valid {
  width: 100%;
  background-color: red;
  text-align: center;
  font-size: 38px;
  color: white;
}
#redirect {
  width: 100%;
  background-color: darkred;
  text-align: center;
  font-size: 18px;
  color: white;
}

#redirect:hover {
  background-color: maroon;
  transition: 0.2s ease-in-out;
}

div.revision {
  border: 1px darkcyan solid;
  padding: 5px;
}
